<article>
  <h3>Curriculum Vitae</h3>
  <div class="row">
    <div class="large-6 columns">
      <h5>10/2012 – 01/2016 Gdansk University of Technology</h5>
      <h6><b>Software for Coverage Estimation in LTE</b></h6>
      <p>This thesis describes the software for coverage estimation in LTE realisation
        process. It presents how to estimate link budget and analize available propagation
        models, to implement them to development environment for JAVA. </p>
    </div>
    <div class="large-6 columns">
      <img src="https://placehold.it/400x240&text=[img]" />
    </div>
  </div>
  <p>Only three of all
    analized propagation models were successfully implemented: Young model, Hata
    model and COST231 model.
    The fact that application was executed correctly allowed me to make some
    researches and analize them. The SINR (Signal-to- Interferences-plus- Noise Ratio)
    parameter was claimed as a main criterion parameter but in fact it was CQI (Channel
    Quality Indicator) parameter which determines SINR depending on demanded
    throughput.</p>
</article>
<hr />